{%extends 'base.html'%}

{%block content%}
{{super()}}
<div style="background-color: rgb(240, 226, 160);" class="oneliner">
  <h1 >One-Liners</h1>
{%if oneliner_pitches %}
<div class="row">
{%for o in oneliner_pitches%}

  
      <div  class="card text-white bg-info m-3" style="width: 40rem;">
          <div class="card-body">
            <h5 class="card-title">{{o.nametype}}</h5>
            
            <p class="card-text">{{o.pitch_info}}</p>
            
            <button>
                <a style="color: rgb(24, 19, 19);" href="/createcomment/{{o.id}}" class="card-link">Add Comment</a>
            </button>

            <button>
                <a style="color: rgb(10, 5, 5);" href="/seecomments/{{o.id}}" class="card-link">View Comments</a>
            </button>

            
          </div>
        </div>
  
  
  

{%endfor%}
</div>
{%else%}
  <h3>No oneliners posted yet</h3>
{%endif%}
</div>

{%endblock%}