{%extends 'base.html'%}
{%block content%}
{{super()}}
<div class="product">
    <h1 >Product Pitches</h1>

{%if product_pitches %}
<div class="row">
{%for p in product_pitches%}

    
        <div  class="card text-white bg-primary m-3" style="width: 20rem;">
            <div class="card-body">
              <h5 class="card-title">{{p.nametype}}</h5>
              
              <p class="card-text">{{p.pitch_info}}</p>
              <a style="color: white;" href="/createcomment/{{p.id}}" class="card-link">Create/Add Comment</a>
              <a style="color: white;" href="/seecomments/{{p.id}}" class="card-link">See All Comments</a>
            </div>
          </div>